<div class="col-md-12 mx-auto flex-md-column align-items-md-center">
  <div class="row my-5">

    <div class="btn-group mr-3">
      <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        月份
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {{#each month}}
        <a class="dropdown-item" href="/filter/{{{this.value}}}">{{this.value}}</a>
        {{/each}}

      </div>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        類別
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
    {{!-- <div class="form-group row mb-5 col-5 flex-md-row align-items-md-center">
      <label for="month" class="col-sm-4 col-form-label col-form-label-lg py-3">月份</label>
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="month" name="month">
          {{#each month}}
          <option value="{{{this.value}}}" >{{this.value}}</option>
          {{/each}}
        </select>
      </div>

    </div>
    <div class="form-group row mb-5 col-5 flex-md-row align-items-md-center">
      <label for="category" class="col-sm-4 col-form-label col-form-label-lg py-3">類別</label>
      <div class="col-sm-4">
        <select class="custom-select mr-sm-2" id="category" name="category">
          <option selected>Select</option>
          <option value="餐飲食品">餐飲食品</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="休閒娛樂">休閒娛樂</option>
          <option value="家居物業">家居物業</option>
          <option value="其他">其他</option>


        </select>
      </div>
    </div> --}}

  </div>
</div>
<div class="row total-amount mb-5">
  <div class="col-12">
    <div class="row">
      <p>總金額：</p><span>{{totalAmount}}</span>
    </div>
  </div>
</div>
<div class="row mb-5">

  <ul class="list-group ">
    {{#each records}}
    <li
      class="list-group-item-active list-group-item-action list-group-item-light d-md-flex flex-row justify-content-between align-items-center mb-3">
      <i class="fas fa-{{{this.category}}}"></i>
      <div class="expense-name col-md-auto mr-auto">
        <p>{{this.name}}</p><span>{{this.date}}</span>
      </div>
      <div class="amount col-auto mr-auto">
        <span>{{this.amount}}</span>
      </div>
      <div class="col-auto">
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success btn-lg"">修改</a>
          <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display:inline">
          <button type="submit" class="btn btn-danger btn-lg">刪除</button>
          </form>
      </div>

    </li>
    {{/each}}
  </ul>
</div>
<div class="row create mt-3">
  <a href="/records/new" class="btn btn-primary mb-3">新增支出</a>
</div>
</div>